cme_venv
settings.json
__pycache__
*.pyc
._*

# Client code that gets built
#cme/static/css
#cme/static/src


# Mac/Windows OS Junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
log
node_modules
bower_components
