[submodule "cme/templates/src/Flot"]
	path = cme/templates/src/Flot
	url = https://github.com/flot/flot.git
	ignore = untracked
[submodule "cme/common"]
	path = cme/common
	url = git@cuscsgit01.smiths.net:Avalanche/Cme-common.git
[submodule "cme/templates/src/keymaster"]
	path = cme/templates/src/keymaster
	url = https://github.com/madrobby/keymaster.git
