.icon-user {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 278 278'%3E%3Cpath fill='%236f6f6f' d='m138.46001,164.287c-38.628,0 -69.925,-37.519 -69.925,-83.76701c0,-46.243 31.297,-80.52 69.925,-80.52c38.634,0 69.957,34.277 69.957,80.52c0,46.248 -31.32401,83.76701 -69.957,83.76701z m-108.77101,113.24101c0,0 -14.832,0.979 -21.365,-8.02301c-3.53,-4.86298 -1.071,-14.718 1.343,-20.21698l5.912,-13.47301c0,0 16.35,-36.567 34.962,-57.757c11.433,-12.99399 25.031,-10.03499 33.826,-5.80899c5.417,2.59999 11.542,10.17599 16.01801,14.19099c6.168,5.532 17.057,11.819 34.859,12.173l10.922,0c17.791,-0.354 28.67999,-6.64101 34.843,-12.173c4.47099,-4.01399 10.427,-11.825 15.795,-14.511c8.07201,-4.041 20.358,-6.52699 31.492,6.13c18.618,21.19099 33.36299,58.42101 33.36299,58.42101l6.05899,13.21199c2.50702,5.461 5.07501,15.267 1.64301,20.19501c-6.12399,8.811 -19.87399,7.642 -19.87399,7.642s-219.798,-0.00101 -219.798,-0.00101z'/%3E%3C/svg%3E");
}
.icon-key {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 509 509'%3E%3Cpath fill='%236f6f6f' d='M492.628,0h-63.565c-3.846,0-7.564,1.398-10.488,3.941L199.213,196.257 c-11.346-2.384-28.89-5.562-40.3-5.562C71.288,190.695,0,261.983,0,349.607S71.288,508.52,158.912,508.52 s158.912-71.288,158.912-158.912c0-25.998-4.958-43.478-10.584-57.971l54.094-18.37c6.579-2.225,10.933-8.486,10.774-15.414 l-1.335-60.323l60.705-4.227c8.136-0.572,14.525-7.215,14.779-15.351l2.225-72.432l47.547-10.552 c7.278-1.589,12.491-8.073,12.491-15.51V15.891C508.52,7.119,501.369,0,492.628,0z'/%3E%3C/svg%3E");
}
.icon-home {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 548 548'%3E%3Cpath fill='%23fff' d='M540.76,254.788L294.506,38.216c-11.475-10.098-30.064-10.098-41.386,0L6.943,254.788 c-11.475,10.098-8.415,18.284,6.885,18.284h75.964v221.773c0,12.087,9.945,22.108,22.108,22.108h92.947V371.067 c0-12.087,9.945-22.108,22.109-22.108h93.865c12.239,0,22.108,9.792,22.108,22.108v145.886h92.947 c12.24,0,22.108-9.945,22.108-22.108v-221.85h75.965C549.021,272.995,552.081,264.886,540.76,254.788z'/%3E%3C/svg%3E");
}
.icon-settings {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122 122'%3E%3Cpath fill='%23fff' d='M50.077,98.919l-2.78-1.024c0.219-2.027,0.147-4.093-0.234-6.146l2.684-1.237c1.677-0.771,2.412-2.765,1.639-4.441 l-1.567-3.4c-0.772-1.676-2.763-2.413-4.437-1.641l-2.688,1.239c-1.313-1.627-2.837-3.023-4.519-4.176l1.026-2.775 c0.638-1.731-0.25-3.661-1.98-4.301l-3.515-1.298c-1.677-0.617-3.68,0.305-4.298,1.979l-1.025,2.778 c-2.025-0.216-4.091-0.146-6.146,0.233L21,72.024c-0.772-1.676-2.765-2.412-4.439-1.641l-3.403,1.565 c-1.676,0.773-2.41,2.768-1.64,4.441l1.237,2.684c-1.624,1.315-3.023,2.839-4.174,4.523l-2.774-1.026 c-1.675-0.624-3.681,0.3-4.302,1.979l-1.297,3.515c-0.309,0.84-0.273,1.749,0.1,2.561c0.376,0.812,1.044,1.43,1.88,1.735 l2.78,1.028c-0.22,2.024-0.148,4.094,0.234,6.146l-2.687,1.237c-1.676,0.771-2.41,2.763-1.639,4.438l1.568,3.404 c0.772,1.675,2.763,2.411,4.438,1.638l2.687-1.235c1.313,1.626,2.836,3.021,4.52,4.174l-1.026,2.777 c-0.312,0.838-0.276,1.745,0.1,2.559c0.371,0.812,1.041,1.432,1.879,1.743l3.515,1.296c0.836,0.31,1.747,0.273,2.559-0.099 c0.813-0.375,1.43-1.043,1.738-1.882l1.027-2.779c2.025,0.22,4.093,0.147,6.147-0.231l1.235,2.685 c0.772,1.674,2.766,2.41,4.44,1.638l3.402-1.566c1.678-0.771,2.413-2.763,1.639-4.439l-1.237-2.685 c1.626-1.314,3.024-2.838,4.173-4.52l2.778,1.027c0.841,0.311,1.75,0.272,2.563-0.103c0.81-0.374,1.426-1.042,1.736-1.879 l1.297-3.515C52.695,101.488,51.807,99.56,50.077,98.919z M31.669,107.662c-1.754,0.809-3.615,1.216-5.533,1.216 c-5.152,0-9.872-3.022-12.025-7.697c-3.052-6.631-0.144-14.507,6.483-17.559c1.753-0.809,3.614-1.217,5.529-1.217 c5.151,0,9.875,3.021,12.029,7.697C41.204,96.733,38.295,104.609,31.669,107.662z'/%3E%3Cpath fill='%23fff' d='M83.179,108.5l-1.547-0.569c0.123-1.129,0.082-2.28-0.131-3.423l1.494-0.689c0.935-0.428,1.344-1.538,0.913-2.473 l-0.872-1.894c-0.432-0.935-1.539-1.346-2.471-0.914l-1.497,0.689c-0.73-0.905-1.58-1.685-2.515-2.325l0.57-1.546 c0.355-0.964-0.14-2.037-1.103-2.396l-1.958-0.722c-0.934-0.346-2.048,0.168-2.394,1.102l-0.571,1.548 c-1.126-0.121-2.278-0.081-3.421,0.13l-0.688-1.493c-0.432-0.934-1.541-1.345-2.474-0.914l-1.895,0.873 c-0.934,0.432-1.342,1.54-0.913,2.473l0.689,1.495c-0.905,0.732-1.684,1.581-2.326,2.519l-1.544-0.57 c-0.931-0.347-2.049,0.165-2.394,1.101l-0.724,1.958c-0.171,0.468-0.15,0.975,0.055,1.427c0.21,0.45,0.583,0.795,1.049,0.966 l1.547,0.572c-0.123,1.129-0.083,2.278,0.13,3.423l-1.495,0.688c-0.934,0.431-1.343,1.538-0.913,2.472l0.874,1.896 c0.429,0.932,1.538,1.343,2.471,0.913l1.495-0.688c0.731,0.905,1.581,1.683,2.519,2.323l-0.571,1.545 c-0.174,0.468-0.154,0.975,0.055,1.427c0.208,0.451,0.579,0.797,1.048,0.971l1.956,0.722c0.467,0.172,0.972,0.152,1.425-0.056 s0.797-0.58,0.968-1.046l0.571-1.55c1.129,0.123,2.278,0.084,3.423-0.129l0.688,1.495c0.43,0.932,1.539,1.343,2.471,0.911 l1.896-0.872c0.934-0.432,1.342-1.538,0.912-2.472l-0.688-1.496c0.904-0.731,1.684-1.578,2.323-2.516l1.547,0.57 c0.468,0.175,0.975,0.152,1.428-0.056c0.449-0.207,0.795-0.581,0.967-1.047l0.722-1.957 C84.636,109.932,84.141,108.856,83.179,108.5z M72.929,113.37c-0.977,0.448-2.012,0.677-3.08,0.677 c-2.868,0-5.497-1.684-6.696-4.287c-1.7-3.69-0.082-8.077,3.61-9.775c0.976-0.45,2.012-0.677,3.079-0.677 c2.867,0,5.496,1.682,6.696,4.285C78.236,107.284,76.618,111.668,72.929,113.37z'/%3E%3Cpath fill='%23fff' d='M118.269,49.597l-4.673-1.725c0.369-3.407,0.248-6.882-0.393-10.337l4.514-2.077c2.816-1.294,4.052-4.647,2.754-7.468 l-2.634-5.718c-1.298-2.819-4.646-4.059-7.461-2.759l-4.519,2.084c-2.208-2.735-4.771-5.082-7.596-7.02l1.723-4.668 c1.072-2.911-0.418-6.155-3.328-7.229l-5.909-2.186c-2.818-1.036-6.186,0.515-7.228,3.33l-1.724,4.673 c-3.405-0.366-6.881-0.245-10.333,0.391l-2.08-4.51c-1.298-2.819-4.646-4.056-7.465-2.758l-5.72,2.634 c-2.818,1.299-4.055,4.65-2.759,7.466l2.083,4.513c-2.731,2.211-5.083,4.773-7.02,7.603l-4.665-1.724 c-2.815-1.049-6.188,0.504-7.23,3.324l-2.181,5.912c-0.521,1.41-0.46,2.938,0.166,4.304c0.634,1.364,1.758,2.403,3.163,2.917 l4.673,1.73c-0.371,3.403-0.25,6.882,0.392,10.335l-4.514,2.078c-2.819,1.299-4.053,4.645-2.756,7.461l2.635,5.724 c1.298,2.813,4.646,4.054,7.463,2.755l4.515-2.08c2.208,2.735,4.771,5.083,7.602,7.019l-1.726,4.669 c-0.524,1.407-0.463,2.936,0.167,4.303c0.626,1.364,1.751,2.406,3.159,2.929l5.909,2.179c1.409,0.521,2.938,0.461,4.303-0.164 c1.367-0.63,2.404-1.754,2.922-3.163l1.729-4.675c3.404,0.371,6.879,0.25,10.336-0.389l2.076,4.512 c1.298,2.814,4.648,4.056,7.466,2.755l5.72-2.634c2.821-1.3,4.054-4.646,2.755-7.464l-2.079-4.513 c2.732-2.213,5.084-4.771,7.017-7.601l4.672,1.729c1.411,0.521,2.94,0.459,4.307-0.171c1.362-0.628,2.398-1.753,2.919-3.159 l2.184-5.911C122.671,53.914,121.178,50.67,118.269,49.597z M87.322,64.294c-2.95,1.357-6.078,2.046-9.301,2.046 c-8.663,0-16.597-5.082-20.22-12.945C52.669,42.249,57.559,29.007,68.7,23.876c2.947-1.359,6.077-2.045,9.297-2.045 c8.662,0,16.601,5.079,20.224,12.94C103.351,45.92,98.463,59.163,87.322,64.294z'/%3E%3C/svg%3E");
}
.icon-logout {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 123 123'%3E%3Cpath fill='%23fff' d='M86,28.074v-20.7c0-3.3-2.699-6-6-6H6c-3.3,0-6,2.7-6,6v3.9v78.2v2.701c0,2.199,1.3,4.299,3.2,5.299l45.6,23.601 c2,1,4.4-0.399,4.4-2.7v-23H80c3.301,0,6-2.699,6-6v-32.8H74v23.8c0,1.7-1.3,3-3,3H53.3v-30.8v-19.5v-0.6c0-2.2-1.3-4.3-3.2-5.3 l-26.9-13.8H71c1.7,0,3,1.3,3,3v11.8h12V28.074z'/%3E%3Cpath fill='%23fff' d='M101.4,18.273l19.5,19.5c2.5,2.5,2.5,6.2,0,8.7l-19.5,19.5c-2.5,2.5-6.301,2.601-8.801,0.101 c-2.399-2.399-2.1-6.4,0.201-8.8l8.799-8.7H67.5c-1.699,0-3.4-0.7-4.5-2c-2.8-3-2.1-8.3,1.5-10.3c0.9-0.5,2-0.8,3-0.8h34.1 c0,0-8.699-8.7-8.799-8.7c-2.301-2.3-2.601-6.4-0.201-8.7C95,15.674,98.9,15.773,101.4,18.273z'/%3E%3C/svg%3E");
}
html,
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #e6e6e6;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a {
  color: #00b7ff;
}
button.btn {
  background-color: #3ea4e1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  color: #fff;
  font-size: 20px;
  height: 48px;
  width: 64px;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
button.btn:hover {
  opacity: 0.75;
  cursor: pointer;
}
button.btn:disabled {
  opacity: 1;
  background-color: #909090;
  cursor: default;
}
input[type="text"] {
  outline: 0;
}
header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #7ab9e3;
  background-image: -webkit-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -moz-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -ms-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -o-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
}
header #branding {
  padding: 24px 0 23px 86px;
  color: #fff;
  border: 0 solid #999;
  border-bottom-width: 1px;
  font-weight: bold;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: 18px center;
  background-size: 48px 48px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cdefs%3E%3Cmask id='mask'%3E%3Ccircle cx='50%' cy='50%' r='64' fill='white'/%3E%3Cpath fill='black' d='M0,84 L 33.5,84 L 88,30 L 68,84 L 128, 84 L 128, 92 L 55, 92 L 66,66 L 39, 92 L 0, 92z' /%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='50%' cy='50%' r='64' fill='white' mask='url(%23mask)'/%3E%3C/svg%3E");
}
header #title {
  font-size: 36px;
}
header #model {
  font-size: 16px;
}
header #tab {
  position: absolute;
  top: -3px;
  left: 236px;
  width: 1024px;
  bottom: 0;
  border: 0 solid #999;
  border-width: 1px 0 0 1px;
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  -ms-border-radius: 20px 0 0 0;
  -o-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  background: #eee;
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: perspective(40px) rotateX(2deg);
  -moz-transform: perspective(40px) rotateX(2deg);
  -ms-transform: perspective(40px) rotateX(2deg);
  -o-transform: perspective(40px) rotateX(2deg);
  transform: perspective(40px) rotateX(2deg);
}
header #tab::before,
header #tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 20px;
  left: -20px;
  width: 20px;
  background: #eee;
}
header #tab::after {
  left: -21px;
  border: 0 solid #999;
  border-bottom-width: 1px;
  border-right-width: 1px;
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  -ms-border-radius: 0 0 20px 0;
  -o-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
  background-size: auto 100px;
  background-position: 0 -80px;
  background-color: #7ab9e3;
  background-image: -webkit-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -moz-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -ms-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: -o-linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
  background-image: linear-gradient(top, #7ab9e3 0%, #3ea4e1 45%);
}
header #info {
  position: absolute;
  white-space: nowrap;
  top: 5px;
  right: 0;
  text-align: right;
}
header #info > div {
  display: inline-block;
  margin: 0 16px;
  line-height: 30px;
}
header #info > div .separator {
  margin: 0 16px 0 2px;
}
header #info > div > label {
  font-size: 12px;
  font-style: italic;
}
header #info > div > span {
  font-weight: bold;
}
header #buttons {
  position: absolute;
  top: 7px;
  right: 0;
  height: 100%;
  min-width: 350px;
  background: #eee;
  -webkit-box-shadow: 1px -1px 2px #ccc;
  -moz-box-shadow: 1px -1px 2px #ccc;
  -ms-box-shadow: 1px -1px 2px #ccc;
  -o-box-shadow: 1px -1px 2px #ccc;
  box-shadow: 1px -1px 2px #ccc;
  white-space: nowrap;
  text-align: right;
}
header #buttons button {
  margin: 26px 16px;
}
@media only screen and (max-width: 700px) {
  header #branding {
    border: none;
  }
  header #tab {
    display: none;
  }
  header #buttons {
    position: static;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 0;
    text-align: center;
  }
  header #buttons button {
    margin: 0;
    width: 34%;
  }
  header #info {
    position: static;
    background-color: #eee;
  }
  header #info > div {
    margin: 0;
    width: 50%;
    text-align: center;
  }
  header #info::after {
    content: '';
    display: block;
    clear: both;
  }
}
#login {
  position: relative;
  width: 100%;
  min-width: 400px;
  padding: 64px 0;
  background-color: #eee;
  text-align: center;
}
#login #welcome {
  line-height: 48px;
  font-size: 48px;
}
#login #instructions {
  margin: 2em 0 4em 0;
  font-size: 12px;
}
#login #instructions .login-error {
  margin-top: 1em;
  font-weight: 700;
  color: #f22;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -ms-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
#login #instructions .isVisible {
  opacity: 1;
}
#login .icontextinput,
#login button {
  width: 260px;
  margin: 10px auto;
}
#login button:not(:disabled) {
  background-color: #006ec5;
}
#login .icontextinput {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 4px center;
  height: 48px;
  line-height: 48px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}
#login .icontextinput input {
  width: 212px;
  font-size: 20px;
  line-height: 40px;
  border: none;
  background: transparent;
  outline: none;
}
/* Main console styles */
#console {
  position: relative;
}
.panel-header {
  position: relative;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.panel-header .title {
  font-size: 150%;
}
.panel-header .subtitle {
  margin: 0.5em 0 0 0.5em;
  font-style: italic;
}
.panel-content::after {
  content: '';
  display: block;
  clear: both;
}
.panel#error {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.panel#error .popup {
  background: #fff;
  width: 400px;
  margin: 0 auto;
}
.panel#error .message {
  color: #f22;
}
.panel#error .buttons {
  background: #ffc0cb;
}
/*
 * https://github.com/arqex/react-datetime

 * Note: locally modified - do not replace from repo!
 */
.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: static;
}
.rdtPicker .rdtTimeToggle {
  text-align: center;
}
.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0,0,0,0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker td span.rdtOld {
  color: #999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eee;
}
.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}
.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}
.rdtPicker thead button {
  width: 100%;
  height: 100%;
}
td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}
.rdtCounters {
  display: inline-block;
}
.rdtCounters > div {
  float: left;
}
.rdtCounter {
  height: 100px;
}
.rdtCounter {
  width: 40px;
}
.rdtCounterSeparator {
  line-height: 100px;
}
.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}
.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}
.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
.input-group {
  position: relative;
  margin: 10px;
  float: left;
  text-align: left;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-box-shadow: 1px 1px 3px #ccc;
  -ms-box-shadow: 1px 1px 3px #ccc;
  -o-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px #ccc;
}
.input-group-title button {
  width: 100%;
  height: 32px;
}
.input-group-title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 6px;
  top: 12px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.input-group.collapsed .input-group-title::after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.input-group.collapsed .input-group-content {
  position: relative;
  padding: 0 10px;
  height: 0;
}
.input-group-content {
  padding: 10px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.input-group-cluster {
  margin: 10px auto;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
}
.input-group-cluster > label {
  display: block;
  color: #006ec5;
  font-size: 90%;
  font-weight: bold;
}
.input-group-cluster > input[type="text"] {
  margin-left: 8px;
  width: 350px;
}
.input-group-cluster input,
.input-group-cluster a,
.input-group-cluster .led-text {
  font-size: 20px;
  line-height: 40px;
  border: 0;
  background: transparent;
  outline: none;
}
.input-group-cluster input[type="checkbox"],
.input-group-cluster input[type="radio"] {
  zoom: 2;
  vertical-align: middle;
}
.input-group-cluster input[readonly] {
  color: #999;
}
.input-group-cluster a {
  display: block;
  width: 360px;
  text-align: center;
}
.input-group-cluster textarea {
  width: 334px;
  height: 40px;
  outline: none;
  resize: vertical;
}
.input-group-cluster .radio-group {
  padding: 10px;
}
.input-group-cluster .radio-group > div {
  margin-top: 10px;
}
.input-group-cluster #ntpGroup {
  padding: 10px;
  position: relative;
}
.input-group-cluster #ntpGroup #status {
  border: 0;
  margin: 0;
  position: absolute;
  top: -10px;
  right: 10px;
}
.input-group-cluster #ntpGroup #ta-wrapper label {
  margin-top: 10px;
  display: block;
}
.input-group-buttons {
  margin: -10px;
  margin-top: 0;
  border-top: 1px solid #e6e6e6;
}
.input-group-buttons .btn {
  background: transparent;
  color: #006ec5;
  width: 50%;
}
.input-group-buttons .btn:first-child {
  border-right: 1px solid #e6e6e6;
}
.rdt {
  display: inline-block;
}
.rdt input[type="text"] {
  padding: 0;
  width: 180px;
  text-align: center;
}
.rdt .rdtPicker {
  margin-top: 0;
  border-color: #e6e6e6;
}
.rdt .rdtBtn {
  width: auto;
  color: #3ea4e1;
  background: transparent;
  opacity: 0.25;
}
.rdt .rdtBtn:hover {
  opacity: 1;
  background: transparent;
}
.rdt.shifted .rdtPicker {
  right: 0;
}
.led-wrapper {
  position: relative;
  height: 40px;
  color: #999;
}
.led-wrapper .led {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 10px;
  background: #999;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.led-wrapper .led.red {
  background: #900;
}
.led-wrapper .led.green {
  background: #090;
}
.led-wrapper .led.yellow {
  background: #990;
}
.led-wrapper .led-text {
  width: 110px;
  padding-left: 40px;
}
.zc {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}
.zc > div {
  float: left;
}
.zc .btn {
  color: #3ea4e1;
  line-height: 40px;
  background: transparent;
}
.zc .zcCounter .btn {
  height: 40px;
  opacity: 0.25;
}
.zc .zcCounter .btn:hover {
  opacity: 1;
}
.zc .zcSeparator {
  margin: 40px 0;
  font-size: 20px;
}
.zc::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.panel-header .clock {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: #fff;
  font-size: 14px;
}
.panel-header .clock > div {
  padding: 4px 6px;
  text-align: center;
  display: inline-block;
  background-color: #3ea4e1;
}
.panel-header .clock .date {
  background-color: #2297dd;
}
.scb {
  position: relative;
  margin: 10px;
  width: 380px;
  height: 225px;
  float: left;
  overflow: hidden;
  color: #fff;
  background: #3ea4e1;
  -webkit-box-shadow: 1px 1px 3px #ccc;
  -moz-box-shadow: 1px 1px 3px #ccc;
  -ms-box-shadow: 1px 1px 3px #ccc;
  -o-box-shadow: 1px 1px 3px #ccc;
  box-shadow: 1px 1px 3px #ccc;
}
.scb-header {
  padding: 0 10px;
}
.scb-primary,
.scb-secondary {
  text-align: center;
}
.scb-primary > div,
.scb-secondary > div {
  display: inline-block;
}
.scb-primary {
  height: 96px;
  line-height: 96px;
}
.scb-primary .sensor-value {
  font-size: 48px;
}
.scb-primary .sensor-unit {
  font-size: 28.799999999999997px;
}
.scb-secondary {
  height: 64px;
  line-height: 64px;
}
.scb-secondary .sensor-value {
  font-size: 32px;
}
.scb-secondary .sensor-unit {
  font-size: 19.2px;
}
.btn.scb-history-badge {
  position: absolute;
  display: inline-block;
  font-size: 1em;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 6px 8px 6px 46px;
  bottom: 32px;
  right: 17px;
  background-color: #ea9338;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  -ms-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  -o-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}
.btn.scb-history-badge::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #e78218;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 50 40'%3E%3Cpath stroke='%23FFFFFF' stroke-linejoin='round' stroke-linecap='round' fill-opacity='0' d='m2,18l4,-3l4,8l4,-18l4,15l4,-7l4,2l4,-2l4,6l4,-14' /%3E%3C/svg%3E");
}
.scb-controls {
  background: #2297dd;
  position: absolute;
  width: 100%;
  height: 48px;
}
.scb-history {
  display: none;
  color: #4d4d4d;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 225px;
}
.scb-history > .btn {
  position: absolute;
  padding: 0;
  color: #4d4d4d;
  background-color: transparent;
  font-size: 14px;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.scb-history.open {
  display: block;
}
.scb-config {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 360px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.scb-config.open {
  right: -20px;
}
.scb-config > .btn,
.scb-config-content > .btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 20px;
  padding: 0;
  background-color: transparent;
}
.scb-config > .btn {
  right: 0;
}
.scb-config-content {
  background-color: #fff;
  color: #4d4d4d;
  text-align: center;
  height: 100%;
  line-height: 225px;
  margin-right: 20px;
  margin-left: -20px;
}
.scb-config-content > .btn {
  position: absolute;
  left: -20px;
  color: #4d4d4d;
}
div#test-buttons {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}
div#test-buttons > * {
  margin-right: 10px;
}
