header // 100px height, vertically center logo w/24px padding
	position relative
	z-index 1
	margin 0
	padding 0
	background-linear-gradient(top, header-gradient-top-color, 0%, header-gradient-bottom-color, header-gradient-bottom-stop)
	#branding
		padding 24px 0 23px 86px // accommmodate 1px bottom border
		color #fff
		border 0 solid header-tab-border-color
		border-bottom-width 1px
		font-weight bold
		line-height 1 // v-align text to top
		background-repeat no-repeat
		background-position 18px center
		background-size 48px 48px
		background-image url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cdefs%3E%3Cmask id='mask'%3E%3Ccircle cx='50%' cy='50%' r='64' fill='white'/%3E%3Cpath fill='black' d='M0,84 L 33.5,84 L 88,30 L 68,84 L 128, 84 L 128, 92 L 55, 92 L 66,66 L 39, 92 L 0, 92z' /%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='50%' cy='50%' r='64' fill='white' mask='url(%23mask)'/%3E%3C/svg%3E")

	#title
		font-size 36px
	#model
		font-size 16px
	#recovery
		position absolute
		width 100%
		left 0
		top 10px
		z-index 9
		text-align center
		font-size 18px
		font-style italic
		color error-color
	#tab
		position absolute
		top -3px
		left 236px
		width 1024px // keeps the slope from changing on window width changes
		bottom 0
		border 0 solid header-tab-border-color
		border-width 1px 0 0 1px
		border-radius header-tab-radius 0 0 0
		background header-bg-color
		transform-origin bottom right
		transform perspective(40px) rotateX(2deg)
		&::before, &::after
			content ''
			position absolute
			bottom 0
			height header-tab-radius
			left (0 - header-tab-radius)px
			width header-tab-radius
			background header-bg-color
		&::after
			left - (header-tab-radius + 1)
			border 0 solid header-tab-border-color
			border-bottom-width 1px
			border-right-width 1px
			border-radius 0 0 header-tab-radius 0
			background-size auto 100px
			background-position 0 -80px
			background-linear-gradient(top, header-gradient-top-color, 0%, header-gradient-bottom-color, header-gradient-bottom-stop)
	#info
		position absolute
		white-space nowrap
		top 5px
		right 0
		text-align right
		> div
			display inline-block
			margin 0 16px
			line-height 30px
			.separator
				margin 0 16px 0 2px
			> label
				font-size 12px
				font-style italic
			> span
				font-weight bold
	#buttons
		position absolute
		top 7px
		right 0
		height 100%
		min-width 350px
		background header-bg-color
		box-shadow 1px -1px 2px #ccc
		white-space nowrap
		text-align right
		button
			margin 26px 16px

// for very wide layouts, open up the buttons min-width
@media only screen and (min-width: 1400px)
	header #buttons
		min-width 1024px

@media only screen and (max-width: width-breakpoint)
	header
		#branding
			border none
		#tab
			display none
		#buttons
			position static
			box-shadow none
			padding 0
			text-align center
			button
				margin 0
				width 34%
		#info
			position static
			background-color header-bg-color
			> div
				margin 0
				width 50%
				text-align center
		#info::after
			content ''
			display block
			clear both