
.panel-header .widgets
	position absolute
	right 16px
	bottom 10px
	color #fff
	font-size 14px
	div
		display inline-block
		text-align center
		> div
			padding 4px 6px
	> div 
		margin-left 10px
	.clock
		background-color button-bg-color
	.date
		background-color lightness(button-bg-color, 50%)
	.thermometer
		background-color #334
		> div
			margin 0 2px 2px 2px
			padding-bottom 0
			border-bottom 2px solid green
	.thermometer.warn > div
		border-color yellow
	.thermometer.alarm > div
		border-color red

