
#login
	width 480px
	margin 64px auto
	padding 32px 64px
	text-align center

	#welcome
		line-height 48px
		font-size 48px

	#instructions
		margin 2em 0 4em 0
		font-size 12px

	.icontextinput,
	button
		width 260px
		margin 10px auto
	button
		background-color #006EC5
	.icontextinput
		background-repeat no-repeat
		background-size 32px 32px
		background-position 4px center
		height 48px
		line-height 48px
		text-align right
		border-bottom 1px solid #CCC
	.icontextinput input
		outline none
		width 212px
		font-size 20px
		line-height 40px
		border none
		background transparent

