login-button-color = #006EC5 // overrides app button bg

#login
	position absolute
	top 0
	bottom 0
	padding-top 140px
	width 100%
	min-width 400px
	min-height 400px
	background-color header-bg-color
	text-align center

	#welcome
		line-height 48px
		font-size 48px

	#instructions
		margin 2em 0 4em 0
		font-size 12px
		.login-error
			margin-top 1em
			font-weight 700
			color error-color
			opacity 0
			transition opacity 0.3s ease 0s
		.isVisible
			opacity 1

	.icontextinput,
	button
		width 260px
		margin 10px auto
	button:not(:disabled)
		background-color login-button-color
	.icontextinput
		background-repeat no-repeat
		background-size 32px 32px
		background-position 4px center
		height 48px
		line-height 48px
		text-align right
		border-bottom 1px solid #CCC
		input
			width 212px
			font-size 20px
			line-height 40px
			border none
			background transparent
			outline none
