// CME styles

// app-wide colors
bg-color = #E6E6E6
fg-color = #4D4D4D
link-color = #00B7FF

button-bg-color = #006EC5

error-color = #FF2222

width-breakpoint = 700px

@import mixins
@import icons
@import core
@import header
@import login
@import console
