// CME styles

// app-wide colors
bg-color = hsla(120, 0, 90%, 1)
fg-color = #4D4D4D
link-color = #00B7FF

button-bg-color = #428BCA

error-color = #FF2222

@import mixins
@import icons
@import core
@import header
@import login
@import console
