
// th-gauge is the threshold gauge
.th-gauge
	position relative
	background-color error-color
	width 50%
	height 5px
	margin-left 25%
	border-radius 2px
	box-shadow 0 0 0 1px rgba(255,255,255,0.24)
	.alarm, 
	.warning
		position absolute
		top 0
		bottom 0
		left 0
		right 0
	.alarm
		background-color warning-color
	.warning
		background-color green
	.pointer
		position absolute
		width 8px
		height 8px
		left 50%
		margin-left -4px
		top 50%
		margin-top 2px
		background-color white
		border-radius 80% 0 55% 50% / 55% 0 80% 50%
		box-shadow 0 1px 1px 1px rgba(0,0,0,0.24)
		transform rotate(-45deg)

.th-badge
	position absolute
	width 32px
	height 32px
	line-height 32px
	top 50%
	margin-top -16px
	margin-left 20px
	opacity 0
	background-image url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'><path id='triangle' fill-opacity='0' stroke='" + warning-color + "' stroke-width='4' stroke-linejoin='round' d='m10.03833,62.02504c-0.41624,0.80152 -0.90672,1.55295 -0.90672,2.43189l0.0041,0.36888c0,1.89906 1.48737,3.04669 3.19698,3.04669l55.25034,0c1.71234,0 3.18332,-1.42088 3.18332,-3.31994l-0.01822,-0.36888c0,-0.8835 -0.43264,-1.64858 -0.90627,-2.43644l-27.36285,-49.08409c-1.20911,-1.34155 -3.1692,-1.34155 -4.37831,0.00182l-28.06191,49.36189l-0.00046,-0.00182z'/><path id='exclaim-bar' fill='" + warning-color + "' d='m40.573,26.833c1.713,0 4.371,1.365 4.371,3.06l-1.279,17.615c0,1.695 -1.379,3.06 -3.092,3.06s-3.091,-1.365 -3.091,-3.06l-1.493,-17.615c0,-1.695 2.871,-3.06 4.584,-3.06z'/><circle id='exclaim-dot' fill='" + warning-color + "' r='4.3' cy='57.1' cx='40.6'/></svg>")
	transition opacity 0.3s ease 0s
.th-badge.warning
	opacity 1
.th-badge.alarm
	opacity 1
	background-image url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'><path id='triangle' fill-opacity='0' stroke='" + error-color + "' stroke-width='4' stroke-linejoin='round' d='m10.03833,62.02504c-0.41624,0.80152 -0.90672,1.55295 -0.90672,2.43189l0.0041,0.36888c0,1.89906 1.48737,3.04669 3.19698,3.04669l55.25034,0c1.71234,0 3.18332,-1.42088 3.18332,-3.31994l-0.01822,-0.36888c0,-0.8835 -0.43264,-1.64858 -0.90627,-2.43644l-27.36285,-49.08409c-1.20911,-1.34155 -3.1692,-1.34155 -4.37831,0.00182l-28.06191,49.36189l-0.00046,-0.00182z'/><path id='exclaim-bar' fill='" + error-color + "' d='m40.573,26.833c1.713,0 4.371,1.365 4.371,3.06l-1.279,17.615c0,1.695 -1.379,3.06 -3.092,3.06s-3.091,-1.365 -3.091,-3.06l-1.493,-17.615c0,-1.695 2.871,-3.06 4.584,-3.06z'/><circle id='exclaim-dot' fill='" + error-color + "' r='4.3' cy='57.1' cx='40.6'/></svg>")
	

.th-config
	margin 0
	margin-bottom 20px // spacing out 2 config divs
	&.single
		margin-top 10%
	table
		border-collapse collapse
		margin-left 1%
		width 98%
	tbody
		border-top 2px solid #eee
	td
		width 11.1%
		vertical-align middle
		text-align center
		border 0px solid #ccc
	tbody td
		height 11px
	tr.gauge
		.alarm
			height 5px
			background-color error-color
		.warning
			background-color warning-color
		.nominal
			background-color green
	td.input
		padding-left 2px
		padding-right 2px
	input[type='text']
		width 100%
		text-align center
		box-sizing border-box
		&.error
			border-width 1px
			border-color error-color
			padding 2px
		&.active
			font-size 100%
			font-weight bold		
	thead input[type='text']
		font-style italic
		border 0
		background-color #eee
	thead td.nominal
		input
			width 34%
			margin-right 5px
			text-align right
		label
			font-size 90%
			font-style italic	
	.r
		border-right-width 1px
	.b
		border-bottom-width 1px
	.percent
		position absolute
		margin-left -1.3em
		font-size 80%
	.unit
		font-size 18px
	.subunit
		font-size 12px
	.th-percent
		padding-left 40%
		padding-top 2px
		font-size 90%



