
// th-gauge is the threshold gauge
.th-gauge
	position relative
	background-color red
	width 50%
	height 5px
	margin-left 25%
	border-radius 2px
	box-shadow 0 0 0 1px rgba(255,255,255,0.24)
	.warning, 
	.nominal
		position absolute
		left 50%
		top 0
		bottom 0
	.warning
		width 25%
		margin-left -12.5%
		background-color yellow
	.nominal
		width 10%
		margin-left -5%
		background-color green
	.pointer
		position absolute
		width 8px
		height 8px
		left 50%
		top 50%
		margin-left -4px
		background-color white
		border-radius 80% 0 55% 50% / 55% 0 80% 50%
		box-shadow 0 1px 1px 1px rgba(0,0,0,0.24)
		transform rotate(-45deg)

	