.togglebutton,
.togglebutton label, 
.togglebutton input, 
.togglebutton .toggle
	user-select none
.togglebutton
	vertical-align middle
.togglebutton label
	cursor pointer
	text-align right // 
	display inline-block
	max-width 100%
	margin-bottom 5px
	font-size 16px
	line-height 1.43
	color #bdbdbd
	font-weight 400
.togglebutton label input[type=checkbox]
	opacity 0
	width 0
	height 0
.togglebutton label .toggle
	content ''
	display inline-block
	width 30px
	height 15px
	background-color rgba(80, 80, 80, 0.7)
	border-radius 15px
	margin-right 15px
	transition background 0.3s ease
	text-align left
	vertical-align middle
.togglebutton label .toggle::after
	box-sizing border-box
	content ''
	display inline-block
	width 20px
	height 20px
	background-color #f1f1f1
	border-radius 20px
	position relative
	box-shadow 0 1px 3px 1px rgba(0,0,0,0.4)
	left -5px
	top -2px
	transition left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease
.togglebutton label input[type=checkbox]:checked + .toggle,
.togglebutton label input[type=checkbox]:checked + .toggle::after
	background-color #ea9338
.togglebutton label input[type=checkbox]:checked + .toggle::after	
	left 15px
